section {
    margin: 0 auto;
    width: 80%;
    height: 400px;
    /* background-image: url('https://images.unsplash.com/photo-1667471728482-e413f66e94f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
    background-size: cover;
    background-position: top; */
    /* background 속기법 */
    /* background: center/cover url('https://images.unsplash.com/photo-1667471730159-bf2394b11d55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1588&q=80'); */

    /* 다중background */
    background: center/40% no-repeat url('https://images.unsplash.com/photo-1667471730159-bf2394b11d55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1588&q=80'), antiquewhite;

}