/* h1 {
    background-color: bisque;
    border: 1px solid black;
    display: inline;
}

span {
    background-color: aquamarine;
    border: 1px solid black;
    display: block;
} */

span {
    background-color: blueviolet;
    border: 1px solid black;
    /* padding이 적용되는데 다른 요소들 공간을 밀어내지 않고
    침범해서 작용하고 있다. */
    padding: 50px;
    /* 자신이 차지하고있는 가로줄 인라인 에서만 margin이 작용하고 
    세로줄로는 적용되지 않는다. */
    margin: 50px;
    /* 인라인요소는 width와 height를 무시한다. */
    width: 200px;
}

h1 {
    background-color: paleturquoise;
    border: 1px solid black;
    /* block 요소는 모두 적용된다. */
    width: 300px;
    padding: 50px;
    margin: 100px;
}

div{
    height: 200px;
    width: 200px;
    background-color: darkgreen;
    border: 5px solid black;
    /* inline-block은 inline처럼 작동하지만 w,h,m,p이 모두 적용된다. */
    display: inline-block;
    margin: 50px;
}


/* display : none 은 화면 내에서는 안보이는것 처럼 보이지만 실제로는 공간을 차지하고 있다.
자바스크립트에서 유용하게 사용할 예정이다. */