/* * {
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1,h2 {
    color: #1d3557;
}

#signup{
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}

footer a {
    color: #e63946;
}

h2 + button {
    font-size: 20px;
}

footer > a {
    color: #457b9d;
}

input[type="password"] {
    color: greenyellow;
}

a[href*="google"]{
    color: #1d3557;
}


.post a:hover {
    text-decoration: underline;
}


.post button:active {
    background-color: #02c39a;
}

.post:nth-of-type(2n){
    background-color: #dfe8dc;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #fcbf49;
}

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

button:hover {
    background-color: olive;
    font-size: 10px;
    /* specificity는  요소가 충돌할 때 발생한다. 위 두 버튼 모두 배경색에 빨간색을 주는 요소를
    주었지만 log in 버튼에는 빨간색 배경색이 적용되지 않는 것은 위 post클래스의 버튼이 명시도가 더 높기 때문이다.
    하지만 폰트사이즈는 post클래스 버튼과 이 버튼 모두에 적용되는데 이는 위 post클래스에는 폰트사이즈요소를 주지 않았기 때문이고
    즉 요소 충돌이 발생하지 않았기 때문이다.*/
}

/* button {
    !important규칙이 스타일에 선언된 경우, 이 선언은 다른 선언보다 우선한다.
    하지만 이 방법은 추천하는 방법은 아니다. 쓰지 않는게 좋다..
    background-color: magenta !important;
} */