<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/result.css">
</head>
<body>
    <section id="loading">    
        결과를 출력중입니다. 잠시만 기다려 주세요      
    </section>
    <section id="result">
        결과 나왔다
    </section>

    <script>
        
    </script>
</body>
</html>